body {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    
    
}

.nametext{
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 1;
    font-style: italic;
    position: relative
    
    
    
}

.main {
    
    
    margin: auto;
    
    width:350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    
    
    border: 1px solid white;
    transition: 1s box-shadow;
    
   
}
.main:hover{
    box-shadow: 0px 10px 15px 0px white;
    transition-delay: 0s;
}
h1{
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    margin-top: 0px;
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto;
    
}

.early {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 5px;
    
    width: 260px;
    position: relative;
    left: 46px;
    
    
    
    


}
.playingtoo{
    position: relative;
    top: 15px;
    z-index: 3;
    
}

.middle {
    position: relative;
    top: -10px;
    display: flex;
    justify-content: space-around;
    font-size: 45px;
    margin-top: 15px;
    
    
    
}
.center1 {
    display: flex;
    position: relative;
    left: 25px;
    flex-direction: column;
    width: 100px;
    height: 80px;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    

    

    
    
}
.center2 {
    display: flex;
    position: relative;
    right: 25px;
    flex-direction: column;
    width: 100px;
    height: 80px;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    

    

    
    
}

.num {
    color: white;
    position: relative;
    top: 50px;
    left: 8px;
    
    font-family: 'Courier New', Courier, monospace;
    
    border: 1px solid black;
    
    font-size: 22px;
    height: 35px;
    z-index: 1;
    width:25%;
    text-align: center;
    background-color: black;
    
    
    
}


.end {
    
    height: 25%;
    position: relative;
    bottom: -5px;
    right: 1.90px;
    display: flex;
   flex-direction: row;
   width: 101%;
   
   border-top-left-radius: 100px;
   border-top-right-radius: 100px;
   z-index: 2;
   
   
    
    
}


button{
    
    flex-grow: 1;
    
    
}
.player1{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 18px;
    min-width: 70px;
}
.player2{
    font-family: 'Courier New', Courier, monospace;
    min-width: 70px;
    font-size: 18px;
}

.oneplayer {
    background-color: black;
    margin: 0px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(253, 92, 92);
    border-width: 1px 0px 1px 1px;
    border-color: white;
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 35px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: .5s background-color;
    min-width: 140px;
    max-width: 140px;
    
    
    
    
    
}

.twoplayer {
    background-color: black;
    color: rgb(95, 201, 236);
    margin: 0px;
    text-decoration: none;
    font-size: 15px;
    border-width: 1px 1px 1px 0px;
    border-color: white;
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 35px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: .5s background-color;
    min-width: 140px;
    max-width: 140px;
    
    
    
}
.reset {
    background-color: black;
    color: white;
    margin: 0px;
    border-width: 1px 1px 1px 1px;
    border-color: white;
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    transition: .5s background-color;
    
    
    
}
.oneplayer:hover {
    
    background-color: rgb(245, 58, 58);
    color: white;
    transition-delay: 0s;
    cursor: pointer;
    
}
    
    

.twoplayer:hover {
    background-color: lightblue;
    color: white;
    transition-delay: 0s;
    cursor: pointer;
    
}
.reset:hover {
    background-color: rgb(160, 145, 145);
    border-color: whitesmoke;
    transition-delay: 0s;
    color: black;
    cursor: pointer;
    
    
}

.redwin {
    color: red;
    
}

.bluewin {
    color: lightblue;
}



.winner{
    visibility: hidden;
    opacity: 0;
    transition: visibility .6s 0s, opacity .4s linear;
    
    
}

.winmove {
    position: relative;
    right: 87px;
    width: 100px;
}

.winmove2 {
    
    position: relative;
    left: 87px;
    width: 100px;
}

.ovrrec {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    
}
.overall{
    position: relative;
    right: 2px;
}
.record{
    position: relative;
    right: 2px;
}
.endflash{
    transition: all .4s linear;
    transform: scale(1.1);
    color: black;
    background-color: white
    
}

.smallbutton {
    box-shadow: none;
}


.num::placeholder{
    color: white;
}

.emptyborder{
    background-color: darkred;
}

.HoverClass1:hover {
    
    transition-duration: 0.2s;
    color: white !important; background-color: rgb(77, 4, 4) !important;
}
.HoverClass2:hover {
    
    transition-duration: 0.2s;
    color: white !important; background-color: rgb(4, 72, 84) !important;
}
