body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    
    
}

.main {
    
    
    margin: auto;
    margin-top: 20px;
    width:350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px solid black;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
   
}
h1{
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    margin-top: 0px;
    border-radius: 50px;
    width: 65%;
    margin: auto;
    
}

.early {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    
    
    
    


}

.middle {
    display: flex;
    justify-content: space-around;
    font-size: 45px;
    margin-top: 5px;
    font-variant-numeric: tabular-nums;
}
.num {
    position: absolute;
    top: 145px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 1px solid white;
    
    font-size: 25px;
    
    height: 35px;
    
}

.end {
    
    height: 25%;
    position: relative;
    bottom: -24px;
    display: flex;
   flex-direction: row;
   
   
   
   
    
    
}


button{
    
    flex-grow: 1;
    
    
}
.player1{
    font-family: 'Courier New', Courier, monospace;
}
.player2{
    font-family: 'Courier New', Courier, monospace;
}

.oneplayer {
    background-color: red;
    margin: 0px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-width: 0px 0px 1px 1px;
    border-color: black;
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
    
    
    
    
}

.twoplayer {
    background-color: rgb(70, 116, 254);
    color: white;
    margin: 0px;
    text-decoration: none;
    font-size: 15px;
    border-width: 0px 1px 1px 0px;
    border-color: black;
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 100px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
    
    
}
.reset {
    background-color: lightgray;
    margin: 0px;
    border-width: 0px 0px 1px 0px;
    border-color: black;
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    
    
    
}
.oneplayer:hover {
    background-color: darkred;
    border-color: darkred;
    
    
    
}
.twoplayer:hover {
    background-color: darkblue;
    border-color: darkblue;
    
}
.reset:hover {
    background-color: darkslategrey;
    border-color: darkslategrey;
    color: white;
    
    
}

.redwin {
    color: red;
    
}

.bluewin {
    color: blue;
}
